[submodule "src/third_party/secp256k1"]
	path = src/third_party/secp256k1
	url = https://github.com/cryptonomex/secp256k1-zkp.git
[submodule "src/third_party/secp256k1-zkp"]
	path = src/third_party/secp256k1-zkp
	url = https://github.com/cryptonomex/secp256k1-zkp.git
