node_modules
build/
src/third_party/CMakeFiles/
.idea/
.vs/CMakeFiles/
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
compile_commands.json
eos.doxygen
lib/
src/third_party/secp256k1/
